*{
	border:3px dashed tomato;
	box-sizing: border-box;
}

body{
	margin:0px;
}

.part1{
	float:right;
	width: 30%;
	height: 300px;
}

.part2{
	float:right;
	width: 20%;
	height:200px;
}

.part3{
	float:right;
	width: 10%;
	height: 100px;
}

.part4{
	float:left;
	width: 30%;
	height: 300px;
}

.part5{
	float:left;
	width: 20%;
	height: 200px;
}

.part6{
	float:left;
	width: 10%;
	height: 100px;
}

.part7{
	clear: both;
	float:left;
	width: 50%;
	height: 400px;
}

.part8{
	float:left;
	width: 50%;
	height: 400px;
}