<html>

<head>

    </script>
    <script>
        // $(function() {


        //     var people = [];

        //     $.getJSON('invoice.json', function(data) {
        //         $.each(data.invoice, function(i, f) {
        //             var tblRow = "<tr>" + "<td>" + f.invoiceNumber + "</td>" +
        //                 "<td>" + f.invoiceSeries + "</td>" + "<td>" + f.invoiceItems.productName+ "</td>" + "<td>" + f.invoiceItems.quantity + "</td>" + "</tr>"
        //             $(tblRow).appendTo("#userdata tbody");
        //         });

        //     });

        // });

        function loadJSON(callback) {

            var xobj = new XMLHttpRequest();
            xobj.overrideMimeType("application/json");
            xobj.open('GET', 'invoice.json', true); // Replace 'my_data' with the path to your file
            xobj.onreadystatechange = function() {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                    callback(xobj.responseText);
                }
            };
            xobj.send(null);
        }
        var actual_JSON;

        function init() {
            loadJSON(function(response) {
                // Parse JSON string into object
                actual_JSON = JSON.parse(response);
                console.log(actual_JSON);
            });
        }
        $(document).ready(function() {


            $("#tbody").jPut({
                jsonData: actual_JSON,
                //ajax_url:"youfile.json",  if you want to call from a json file
                name: "tbody_template",
            });

        });
        init();
    </script>
</head>

<body>
    <table jput="t_template">
        <tbody jput="tbody_template">
            <tr>
                <td>{{invoiceNumber}}</td>
                <td>{{invoiceSeries}}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody id="tbody">
        </tbody>
    </table>

    <!--<div class="wrapper">-->
    <!--    <div class="profile">-->
    <!--        <table id="userdata" border="2">-->
    <!--            <thead>-->
    <!--                <th>Invoice Number</th>-->
    <!--                <th>Invoice Series</th>-->
    <!--                <th>Invoice Items Product</th>-->
    <!--                <th>Quantity</th>-->
    <!--            </thead>-->
    <!--            <tbody>-->

    <!--            </tbody>-->
    <!--        </table>-->

    <!--    </div>-->
    <!--</div>-->


</body>

</html>
